body {
	padding: 50px;
}
.button {
	font-size: 20px;
	color: white;
	background-color: blue;
}
a {
	background-color: purple;
}
/* css selector with the highest specificity */
#nav div.pull-right a.button {
	background-color: orangered;
}
/* need a higher specificity for the hover to work */
#nav div.pull-right a.button:hover {
	background-color: black;
}

#nav a.button:hover {
	background-color: yellow;
}
